/* global styling */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
html {
    /* main color */
    --primary-color: #7562E0;
    /* section bg */
    --secondary-color: #181824;
    /* body bg */
    --primary-bg: #1A1A29;
    /* gray color */
    --gray-bg: #BDBDBD;
    scroll-behavior: smooth;
}
body {
    font-family: "Poppins", sans-serif;
    background-color: var(--primary-bg);
    color: #fff;
}
/* start header */
header {
    background-color: var(--primary-bg);
}
header .container,
header .logo,
header nav,
header nav ul {
    height: 50px;
}
header .logo {
    color: var(--primary-color);
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
}
header nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    transition: all 0.5s;
}
header nav ul li a {
    color: white;
}
header nav ul li a:hover {
    color: var(--primary-color);
}
/* end header */

/* start hero */
.hero > .container {
    height: 500px;
}
.hero > .container 
/* end hero */
